<html>
	<head>
		<title>Raspberry Pi Home Automation Example</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Raspberry Pi Home Automation Example</h1>
            </div>
            <div id="content">
                <form method="post">
                  <input type="submit" value="Sample Button" />
				  
                </form>
				
            
        </div>
    </body>
</html>
 